{
  "settings": {
    "number_of_shards": 10,
    "number_of_replicas": 0,
    "analysis": {
      "analyzer": {
        "english_html": {
          "type": "custom",
          "tokenizer": "standard",
          "char_filter": [
            "html_strip"
          ],
          "filter": [
            "english_possessive_stemmer",
            "lowercase",
            "decimal_digit",
            "asciifolding",
            "english_stop",
            "english_stemmer"
          ]
        }
      },
      "filter": {
        "english_possessive_stemmer": {
          "type": "stemmer",
          "language": "possessive_english"
        },
        "english_stop": {
          "type": "stop",
          "stopwords": "_english_"
        },
        "english_stemmer": {
          "type": "stemmer",
          "language": "english"
        }
      },
      "normalizer": {
        "id_normalizer": {
          "type": "custom",
          "char_filter": [
            "zeros_prefix_trim"
          ],
          "filter": [
            "trim",
            "lowercase"
          ]
        }
      },
      "char_filter": {
        "zeros_prefix_trim": {
          "type": "pattern_replace",
          "pattern": "^[0\\s]+",
          "replacement": ""
        }
      }
    }
  },
  "mappings": {
    "_source": {
      "enabled": false
    },
    "dynamic": false,
    "dynamic_templates": [
      {
        "scores_long": {
          "match_mapping_type": "long",
          "mapping": {
            "type": "double"
          }
        }
      },
      {
        "scores_double": {
          "match_mapping_type": "double",
          "mapping": {
            "type": "double"
          }
        }
      }
    ],
    "properties": {
      "id": {
        "type": "keyword",
        "doc_values": false
      },
      "score": {
        "type": "double"
      },
      "scores": {
        "dynamic": true,
        "properties": {}
      },
      "mnemonic": {
        "type": "keyword",
        "doc_values": false
      },
      "claims": {
        "properties": {
          {{range $i, $claimType := $}}
            {{if $i}},{{end}}
            "{{$claimType.Name}}": {
              "type": "nested",
              "properties": {
                "id": {
                  "type": "keyword",
                  "doc_values": false
                },
                "confidence": {
                  "type": "double"
                }
                {{range $i, $field := $claimType.Fields}}
                  ,
                  "{{$field.Name}}": {{$field.Definition}}
                {{end}}
              }
            }
          {{end}}
        }
      }
    }
  }
}