internal/wikipedia/testdata/article/jfk_out.html filter=lfs diff=lfs merge=lfs -text
internal/wikipedia/testdata/article/revolution_out.html filter=lfs diff=lfs merge=lfs -text
internal/wikipedia/testdata/article/belgium_in.html filter=lfs diff=lfs merge=lfs -text
internal/wikipedia/testdata/article/jfk_in.html filter=lfs diff=lfs merge=lfs -text
internal/wikipedia/testdata/article/woman_out.html filter=lfs diff=lfs merge=lfs -text
internal/wikipedia/testdata/article/belgium_out.html filter=lfs diff=lfs merge=lfs -text
internal/wikipedia/testdata/article/listen_in.html filter=lfs diff=lfs merge=lfs -text
internal/wikipedia/testdata/article/woman_in.html filter=lfs diff=lfs merge=lfs -text
internal/wikipedia/testdata/article/communities_in.html filter=lfs diff=lfs merge=lfs -text
internal/wikipedia/testdata/article/communities_out.html filter=lfs diff=lfs merge=lfs -text
internal/wikipedia/testdata/article/listen_out.html filter=lfs diff=lfs merge=lfs -text
internal/wikipedia/testdata/article/revolution_in.html filter=lfs diff=lfs merge=lfs -text
