{
  "settings": {
    "number_of_shards": 10,
    "number_of_replicas": 0,
    "analysis": {
      "analyzer": {
        "standard_html": {
          "type": "custom",
          "tokenizer": "icu_tokenizer",
          "char_filter": [
            "html_strip"
          ],
          "filter": [
            "lowercase",
            "icu_folding",
            "decimal_digit",
            "truncate_token_filter"
          ]
        },
        "standard_string": {
          "type": "custom",
          "tokenizer": "icu_tokenizer",
          "filter": [
            "lowercase",
            "icu_folding",
            "decimal_digit",
            "truncate_token_filter"
          ]
        },
        "english_html": {
          "type": "custom",
          "tokenizer": "icu_tokenizer",
          "char_filter": [
            "html_strip"
          ],
          "filter": [
            "english_possessive_stemmer",
            "lowercase",
            "icu_folding",
            "decimal_digit",
            "english_stop",
            "english_stemmer",
            "truncate_token_filter"
          ]
        },
        "english_string": {
          "type": "custom",
          "tokenizer": "icu_tokenizer",
          "filter": [
            "english_possessive_stemmer",
            "lowercase",
            "icu_folding",
            "decimal_digit",
            "english_stop",
            "english_stemmer",
            "truncate_token_filter"
          ]
        },
        "slovenian_html": {
          "type": "custom",
          "tokenizer": "icu_tokenizer",
          "char_filter": [
            "html_strip"
          ],
          "filter": [
            "lowercase",
            "icu_folding",
            "decimal_digit",
            "slovenian_lemmatizer",
            "truncate_token_filter"
          ]
        },
        "slovenian_string": {
          "type": "custom",
          "tokenizer": "icu_tokenizer",
          "filter": [
            "lowercase",
            "icu_folding",
            "decimal_digit",
            "slovenian_lemmatizer",
            "truncate_token_filter"
          ]
        },
        "portuguese_html": {
          "type": "custom",
          "tokenizer": "icu_tokenizer",
          "char_filter": [
            "html_strip"
          ],
          "filter": [
            "lowercase",
            "icu_folding",
            "decimal_digit",
            "portuguese_stop",
            "portuguese_stemmer",
            "truncate_token_filter"
          ]
        },
        "portuguese_string": {
          "type": "custom",
          "tokenizer": "icu_tokenizer",
          "filter": [
            "lowercase",
            "icu_folding",
            "decimal_digit",
            "portuguese_stop",
            "portuguese_stemmer",
            "truncate_token_filter"
          ]
        }
      },
      "filter": {
        "english_possessive_stemmer": {
          "type": "stemmer",
          "language": "possessive_english"
        },
        "english_stop": {
          "type": "stop",
          "stopwords": "_english_"
        },
        "english_stemmer": {
          "type": "stemmer",
          "language": "english"
        },
        "slovenian_lemmatizer": {
          "type": "lemmagen",
          "lexicon_path": "sl.lem"
        },
        "portuguese_stop": {
          "type": "stop",
          "stopwords": "_portuguese_"
        },
        "portuguese_stemmer": {
          "type": "stemmer",
          "language": "light_portuguese"
        },
        "truncate_token_filter": {
          "type": "truncate",
          "length": 1024
        }
      },
      "normalizer": {
        "id_normalizer": {
          "type": "custom",
          "char_filter": [
            "zeros_prefix_trim",
            "truncate_token_filter"
          ],
          "filter": [
            "trim",
            "lowercase"
          ]
        },
        "keyword_normalizer": {
          "type": "custom",
          "char_filter": [
            "truncate_token_filter"
          ],
          "filter": [
            "trim",
            "lowercase"
          ]
        }
      },
      "char_filter": {
        "zeros_prefix_trim": {
          "type": "pattern_replace",
          "pattern": "^[0\\s]+",
          "replacement": ""
        },
        "truncate_token_filter": {
          "type": "pattern_replace",
          "pattern": "^(.{0,1024}).*$",
          "replacement": "$1"
        }
      }
    }
  },
  "mappings": {
    "_source": {
      "enabled": false
    },
    "dynamic": false,
    "properties": {
      "id": {
        "type": "keyword"
      },
      "claims": {
        "properties": {
          {{range $i, $claimType := $}}
            {{if $i}},{{end}}
            "{{$claimType.Name}}": {
              "type": "nested",
              "properties": {
                {{range $i, $field := $claimType.Fields}}
                  {{if $i}},{{end}}
                  "{{$field.Name}}": {{$field.Definition}}
                {{end}}
              }
            }
          {{end}}
        }
      }
    }
  }
}