@import "tailwindcss/base";
@import "nouislider/dist/nouislider.css";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/variants";

@layer components {
  .link {
    @apply rounded-sm font-medium text-primary-600 outline-none drop-shadow-sm;
  }

  .link:focus {
    @apply focus:ring-2 focus:ring-primary-500 focus:ring-offset-1;
  }

  .link:visited {
    @apply text-primary-500;
  }

  .link:hover {
    @apply text-primary-700 underline underline-offset-2;
  }

  .link:active {
    @apply text-primary-500;
  }

  .progress-bar-short,
  .progress-bar-long {
    animation-duration: 2.2s;
    animation-iteration-count: infinite;
    animation-delay: 200ms;
    will-change: left, right;
  }

  .progress-bar-short {
    animation-name: indeterminate-short-ltr;
  }

  .progress-bar-long {
    animation-name: indeterminate-ltr;
  }

  .animate-navbar {
    animation-duration: 100ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-name: animate-navbar;
  }

  @keyframes animate-navbar {
    0% {
      transform: translate3d(0, -100%, 0);
    }

    100% {
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes indeterminate-ltr {
    0% {
      left: -90%;
      right: 100%;
    }

    60% {
      left: -90%;
      right: 100%;
    }

    100% {
      left: 100%;
      right: -35%;
    }
  }

  @keyframes indeterminate-short-ltr {
    0% {
      left: -200%;
      right: 100%;
    }

    60% {
      left: 107%;
      right: -8%;
    }

    100% {
      left: 107%;
      right: -8%;
    }
  }

  .prose img {
    display: unset;
    margin: unset;
  }

  .prose :where(.prose > section:first-child > :first-child):not(:where([class~="not-prose"] *)),
  .prose * > p:first-child {
    @apply mt-0;
  }

  .prose :where(.prose > section:last-child > :last-child):not(:where([class~="not-prose"] *)),
  .prose * > p:last-child {
    @apply mb-0;
  }

  .prose figure {
    @apply float-right m-2 clear-right table w-auto;
  }

  .prose .thumb, .prose .sidebar, .prose .barbox {
    @apply float-right m-2 clear-right w-auto;
  }

  .prose figure figcaption {
    @apply mt-1 table-caption;

    caption-side: bottom;
  }

  .prose figure:has(blockquote) {
    @apply float-none clear-none mx-0 my-5;
  }

  .prose ul ol, .prose ol ol, .prose ol ul, .prose ul ul, .prose li {
    @apply my-0;
  }

  .prose td > ol, .prose td > ul {
    @apply my-0;
  }

  .prose ul + ul, .prose ol + ol {
    @apply mt-5;
  }

  .prose table {
    @apply my-5;
  }
}

/* stylelint-disable-next-line selector-class-pattern */
.noUi-connect {
  @apply bg-secondary-400 h-2 cursor-pointer;
}

/* stylelint-disable-next-line selector-class-pattern */
[disabled] .noUi-connect {
  @apply bg-secondary-100
}

/* stylelint-disable-next-line selector-class-pattern */
.noUi-connects {
  @apply rounded-none cursor-pointer;
}

/* stylelint-disable-next-line selector-class-pattern */
[disabled] .noUi-connects, [disabled] .noUi-connect {
  @apply cursor-not-allowed
}

/* stylelint-disable-next-line selector-class-pattern */
.noUi-horizontal {
  @apply bg-slate-200 h-2 border-none rounded-none shadow-none my-2;
}

/* stylelint-disable-next-line selector-class-pattern */
[disabled].noUi-horizontal {
  @apply bg-gray-100
}

/* stylelint-disable-next-line selector-class-pattern */
.noUi-horizontal .noUi-handle {
  @apply cursor-pointer border-none rounded-full h-6 w-6 -top-2 -right-3 shadow outline-none focus:ring-2 focus:ring-offset-1 bg-primary-600 hover:bg-primary-700 focus:ring-primary-500 active:bg-primary-500;
}

/* stylelint-disable-next-line selector-class-pattern */
.noUi-state-drag .noUi-handle {
  @apply cursor-grabbing !important;
}

/* stylelint-disable-next-line selector-class-pattern */
.noUi-handle::before, .noUi-handle::after {
  @apply hidden;
}

/* stylelint-disable-next-line selector-class-pattern */
[disabled] .noUi-handle {
  @apply cursor-not-allowed bg-primary-300 hover:bg-primary-300 focus:ring-primary-300 active:bg-primary-300
}